build/
build-aipara/
build-static/
build_x64/
weasel-overlay/
debug/
dist/
dist_x64/
data/*
include/*
lib/*
lib_x64/
bin/*
share/*
deps/*/*
deps/boost_src/
deps/boost-1.89.0
# plugins/*/
env.bat
node_modules/
*~
.*.swp
.cache/
*.7z
.DS_Store
